<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"
>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chose what to delete</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css1/main.css" rel="stylesheet" media="all">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body layout:fragment="content">

  <section>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w995">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Products</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Product ID</th>
      					<th scope="col">Product Name</th>
<!--       					<th scope="col">Product Price</th>
      					<th scope="col">Product Discription</th>
      					<th scope="col">Product Image Link</th>
      					<th scope="col">Product Status</th>
      					<th scope="col">Product Condition</th> -->
      					<!--       					<th scope="col">Unites in stock</th>
 -->      				<th scope="col">Product Color</th>
      					<th scope="col">Sizes</th>
      					<th scope="col">Collections</th>
      					<th scope="col">Categories</th>
      					<th scope="col">Tags</th>
      					
   					 </tr>
  				</thead>
  				
 				 <tbody >
    				<tr th:each="p:${products}">
      					<th scope="row" th:text="${p.id}"></th>
      					<td  th:text="${p.prodName}"></td>
<!--       					<td  th:text="${p.prodPrice}"></td>
     					<td  th:text="${p.prodDiscription}"></td>
      					<td th:text="${p.imgLink}"></td>
     					<td  th:text="${p.prodStatus}"></td>
     					<td  th:text="${p.prodCondition}"></td> -->
     					<!-- <td  th:text="${p.unitInStock}"></td> -->
      					<td>
     						<div class="dropdown">
  							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    						Colors
  							</button>
  							<div class="dropdown-menu">
    							<a class="dropdown-item"th:each="C:${p.getColors()}" th:text="${C.colorName}"></a>
  							</div>
							</div>
     					</td>
     					<td>
     						<div class="dropdown">
  							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    						Sizes
  							</button>
  							<div class="dropdown-menu">
    							<a class="dropdown-item" th:each="s:${p.getSizes()}" th:text="${s.size_id}"></a>
  							</div>
							</div>
     					</td>
  
<!--      					<td th:text="${p.getCollection().collectionName}"></td>
 -->     					
     					<td>
     						<div class="dropdown">
  							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    						Categories
  							</button>
  							<div class="dropdown-menu">
    							<a class="dropdown-item" th:each="c:${p.getCategories()}" th:text="${c.categName}"></a>
  							</div>
							</div>
     					</td>
     					
     					<td>
     						<div class="dropdown">
  							<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
    						Tags
  							</button>
  							<div class="dropdown-menu">
    							<a class="dropdown-item" th:each="t:${p.getTags()}" th:text="${t.Name}"></a>
  							</div>
							</div>
     					</td>
      					<td ><a th:href="@{/deleteproduct(Id=${p.id})}">Delete</a></td>
   				    </tr>
  				</tbody>



		</table>       
      
        </div>
        </div>
        
        <br>
        <br>
        
         <div class="wrapper wrapper--w600">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Collections</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Collection Name</th>
      					<th scope="col">Collection title</th>
      					<th scope="col">Collection discription</th>
      					<th scope="col">Collection ImgLink</th>
   					 </tr>
  				</thead>
 				 <tbody >
    				<tr th:each="c:${collections}">
      					<th scope="row" th:text="${c.collectionName}"></th>
      					<td th:text="${c.title}"></td>
      					<td th:text="${c.discription}"></td>
     					<td th:text="${c.imgLink}"></td>
     					<td ><a th:href="@{/deletecollection(Id=${c.collectionName})}">Delete</a></td>
   				    </tr>

  				</tbody>
		</table>       
      
        </div>
        </div>
        
        
         <br>
        <br>
        
         <div class="wrapper wrapper--w600">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Categories</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Category Name</th>
      					<th scope="col">Category discription</th>
      					<th scope="col">Category ImgLink</th>
   					 </tr>
  				</thead>
 				 <tbody >
    				<tr th:each="c:${categories}">
      					<th scope="row" th:text="${c.categName}"></th>
      					<td th:text="${c.categDiscription}"></td>
      					<td th:text="${c.ImgLink}"></td>
     					<td ><a th:href="@{/deletecategory(Id=${c.categName})}">Delete</a></td>
   				    </tr>

  				</tbody>
		</table>       
      
        </div>
        </div>
        
        
        <br>
        <br>
        
         <div class="wrapper wrapper--w600">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Tag</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Tag Name</th>
   					 </tr>
  				</thead>
 				 <tbody >
    				<tr th:each="t:${tags}">
      					<th scope="row" th:text="${t.Name}"></th>
     					<td ><a th:href="@{/deletetag(Id=${t.Name})}">Delete</a></td>
   				    </tr>
  				</tbody>
		</table>       
      
        </div>
        </div>
        
      
         <br>
        <br>
        
        <div class="wrapper wrapper--w600">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Color</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Color Name</th>
   					 </tr>
  				</thead>
 				 <tbody >
    				<tr th:each="c:${colors}">
      					<th scope="row" th:text="${c.colorName}"></th>
     					<td ><a th:href="@{/deletecolor(Id=${c.colorName})}">Delete</a></td>
   				    </tr>
  				</tbody>
		</table>       
      
        </div>
        </div>
        
           <br>
        <br>
        
        <div class="wrapper wrapper--w600">
        	 <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Delete Sizes</h2>
                </div>
                
        	<table class="table table-striped table-dark">
  				<thead>
					<tr>
      					<th scope="col">Size Name</th>
   					 </tr>
  				</thead>
 				 <tbody >
    				<tr th:each="s:${sizes}">
      					<th scope="row" th:text="${s.size_id}"></th>
     					<td ><a th:href="@{/deletesize(Id=${s.size_id})}">Delete</a></td>
   				    </tr>
  				</tbody>
		</table>       
      
        </div>
        </div>
    </div>  
  </section>  








            <!-- Js Plugins -->
 <!--    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>